<%= form_for(game) do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <% if game.new_record? %>
    <div class="field">
      <%= f.label :begin_date %>
      <%= f.datetime_select :begin_date %>
    </div>

    <div class="field">
      <%= f.label :end_date %>
      <%= f.datetime_select :end_date %>
    </div>
  <%end%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

